<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.attendance.mapper.creditTransferMapper" >
  <resultMap id="BaseResultMap" type="com.attendance.domain.creditTransfer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="working_hours" property="workingHours" jdbcType="INTEGER" />
    <result column="learn_hours" property="learnHours" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from credit_transfer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.attendance.domain.creditTransfer" >
    insert into credit_transfer (id, working_hours, learn_hours
      )
    values (#{id,jdbcType=INTEGER}, #{workingHours,jdbcType=INTEGER}, #{learnHours,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.attendance.domain.creditTransfer" >
    update credit_transfer
    set working_hours = #{workingHours,jdbcType=INTEGER},
      learn_hours = #{learnHours,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, working_hours, learn_hours
    from credit_transfer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, working_hours, learn_hours
    from credit_transfer
  </select>
</mapper>